html, body{
    font-family: unify sans,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h3{
    color: #2196F3;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 20px;
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 20px;
}
#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}



#detail0, #detail1, #detail2, #detail3{
    display: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: 3px solid #2196F3;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    left: calc(50% - 100px);
}


#detail0 img, #detail1 img, #detail2 img, #detail3 img{
    position: absolute;
    top: -5px;
    right:-10px;

}
.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}


#zoom {
    -webkit-appearance: slider-vertical;
    position: fixed;
    right: 20px;
    top: 20%;
    height: 60%;
    width: 20px;
}

.info {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 20px;
    width: 25%;
    left: 37.5%;
    bottom: 2px;
    z-index: 1;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}