* {box-sizing: border-box;
}
body {font-family: Verdana, sans-serif;}
.responsive-image{
    max-width: 100%;
}

#languageContainer{
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid black ;
}
#languageContainer a{
    padding: 5px 5px 2px 5px;
    text-decoration: none;
    color: black;
    z-index: 2;
    font-size: 10px;
}
#languageContainer a:hover{
    background-color: #F1F1F1;
}
#English{
    border-bottom: 2px solid black;
}

#close-sheet{
    position: absolute;
    right: 20px;
    top:40px;
    color: black;
    text-decoration: none;
}

#detailName{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-top: 0;

}

#artwork{
    margin: 10px 0 10px 0;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

#detailImage{
    padding-right: 20px;
    padding-bottom: 10px;
}

.flex-container div {
    padding-right: 20px;
    box-sizing: border-box;
}

#information {
    display: block;
    flex-grow: 4;
    flex-basis: 0;
}

#audio{
    display: none;
    justify-content: center;
    margin-right: 10px;
    padding: 0;
}

#audioGuide {
    border: none;
    background-color: white;
    color: #2091EB;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
}

#audioGuide p{
    text-align: justify-all;
    margin-top: 0;

}

#restart {
    display: none;
    border: 2px solid #F1F1F1;
    margin-left: 10px;
    padding: 5px;
    background-color: white;
    color: #2091EB;
    justify-content: center;
    font-size: 25px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
}

#detailVideo{
    max-width: 100%;
    display: none;
    margin: auto;
}

@media only screen and (max-width: 700px){
    .flex-container{
        display: inline;

    }
    .flex-container div{
        padding-right: 0;
    }
    #detailImage{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        padding-right: 0;
    }

    #audioGuide{
        width: 30%;
        margin-left: 35%;

    }

    #restart{
        width: 30%;
        margin-left: 35%;
    }

}